# Virtual environments
.venv/
venv/

# Environment variables
.env

# Python
__pycache__/
*.py[cod]

# Databases
*.sqlite3

# Django static files
staticfiles/

# Logs
*.log

# macOS
.DS_Store

# IDE / Editors
.vscode/
.idea/

# Testing
.pytest_cache/
